layout {

    focus-ring {
        active-color   "{{colors.primary.default.hex}}cc"
        inactive-color "{{colors.surface.default.hex}}aa"
        urgent-color   "{{colors.error.default.hex}}aa"
    }

    border {
        active-color   "{{colors.primary.default.hex}}cc"
        inactive-color "{{colors.surface.default.hex}}aa"
        urgent-color   "{{colors.error.default.hex}}aa"
    }

    shadow {
        color "{{colors.shadow.default.hex}}70"
    }

    tab-indicator {
        active-color   "{{colors.primary.default.hex}}cc"
        inactive-color "{{colors.primary_container.default.hex}}aa"
        urgent-color   "{{colors.error.default.hex}}aa"
    }

    insert-hint {
        color "{{colors.primary.default.hex}}80"
    }
}

recent-windows {
    highlight {
        active-color "{{colors.primary.default.hex}}cc"
        urgent-color "{{colors.error.default.hex}}aa"
    }
}
